@model HallBooking.Models.Mainpage

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mainpage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companylogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companylogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companyemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companyemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companyphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companyphone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Homeid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
