@model HallBooking.Models.Mainpage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mainpage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companylogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companylogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companyemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companyemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companyphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companyphone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Homeid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
