@model IEnumerable<HallBooking.Models.Mainpage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Companylogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companyemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companyphone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Companylogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companyemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companyphone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Homeid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Homeid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Homeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
