@model HallBooking.Models.Hall

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hallname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hallname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hallddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hallddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hallsize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hallsize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbooked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Categoryid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Hallid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
