@model Tuple<IEnumerable<Hallcategory>, IEnumerable<Mainpage>, IEnumerable<Aboutu>, IEnumerable<Hall>>
@{
    Layout = "~/Views/Shared/Home.cshtml";
}



<div class="hero-wrap js-fullheight" style="background-image: url('/images/C.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
                @foreach (var item in Model.Item2)
                {
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@item.Text1 </h1>
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@item.Text2 </h1>
                    
                }
            </div>
        </div>
    </div>
</div>





@*<section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">See our latest vacation ideas</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Item1)
                {


                    <div class="col-md-4 ftco-animate">
                        <a href="/UserDashboard/Index/@item.Categoryid" class="destination-entry img" style="background-image: url(/Home_Assests/images/destination-1.jpg);">
                            <div class="text text-center">
                                <h3>@item.Name</h3>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>*@






<section class="ftco-section">
    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">
                <h2 class="heading-section mb-5 pb-md-4">Carousel #02</h2>
            </div>

            <div class="col-md-12">

                <div class="featured-carousel owl-carousel">
                    @if (Model.Item1 != null)
                    {
                        @foreach (var item in Model.Item1)
                        {
                            <div class="item">
                                <div class="work">
                                    <img src=@Url.Content("~/Images/" + item.Imagepath)  width="600" height="300" />
                                    @*<div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-1.jpg);">
                                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                                <span class="ion-ios-search"></span>
                                            </a>
                                        </div>*@
                                    <div class="text pt-3 w-100 text-center">
                                        <h3><a href="/LoginAndRegestration/Login">@item.Name</a></h3>

                                    </div>
                                </div>
                            </div>
                        }}
                </div>

            </div>

        </div>


    </div>
</section>



<br />
<br />





<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(/Images/D.jpg); "></div>
    @foreach (var item in Model.Item3)
    {
        <div class="one-half ftco-animate">
            <div class="heading-section ftco-animate ">
                <h2 class="mb-4">@item.Text2</h2>
            </div>


            
            <div>
                <p>@item.Text1</p>
            </div>
            
        </div>
    }
</section>

<br />
<br />



<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/Home_Assests/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="@ViewBag.numberofcustomer">0</strong>
                                <span>Happy Customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="@ViewBag.numberofHalls_isBooking">0</strong>
                                <span>Halls isBooking</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="@ViewBag.numberofHalls">0</strong>
                                <span>Halls</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="@ViewBag.number_of_Hallcategories">0</strong>
                                <span>  Hall Categories</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"><strong>HALLS</strong> </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Item4)
            {
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <a href="/LoginAndRegestration/Login" class="img img-2 d-flex justify-content-center align-items-center">
                            <img src=@Url.Content("~/Images/" + item.Imagepath) style="border-radius:20%;" width="300" height="300" />
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">@item.Hallname</a></h3>

                                </div>
                                <div class="two">
                                    <span class="price per-price">$@item.Price<br><small>/Day</small></span>
                                </div>
                               
                            </div>
                            <h3>Address : @item.Hallddress</h3>
                            <h5>Capacity : @item.Hallsize</h5>
                            
                            <hr>
                            <p class="bottom-area d-flex">
                                
                                <span class="ml-auto"><a href="/LoginAndRegestration/Login">Book Now</a></span>
                            </p>
                        </div>
                    </div>
                </div>



            }
        </div>
    </div>
</section>




