@model IEnumerable<HallBooking.Models.Book>
@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<form asp-action="Search" method="post">
    <div class="row" style="Justify-content: space-between; display:flex">
        <div class="form-group col-4">
            <label class="form-label" for="startDate"> Start Date</label>
            <input type="date" name="startDate" class="form-control search-box" placeholder="Search..." />
        </div>
        <div class="form-group col-4" style="">
            <label class="form-label" for="endDate">End Date</label>
            <input type="date" name="endDate" class="form-control search-box" placeholder="Search..." />
        </div>
        <div class="form-group col-4" style="margin-top:30px">
            <button type="submit" class="btn btn-danger">Search</button>
        </div>
    </div>
</form>

<table class="table" style=" margin:20px">
    <thead>
        <tr>
            <th>
                name
            </th>
            <th>
                Hall
            </th>
            <th>
                Date from
            </th>
            <th>
                Date to
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hall.Hallname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enddate)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Hall.Price)
                </td>
                @if (item.Status == "Paied")
                {
                    <td>
                        paied

                    </td>
                }
                else if (item.Status == "Under Process")
                {
                    <td>
                        Under Process

                    </td>
                }
                else if (item.Status == "Accept")
                {
            <td>
                     Accept

            </td>
                }
            </tr>
        }

    </tbody>
</table>